/* @override http://localhost:8080/media/css/default.css */

html {
  /* 62.5 = 10px; */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.45;
  background-color: rgb(245,246,246);
  color: rgb(60,60,60);
}
  
body,
article.post .content,
#gallery-page .grid-container.gallery .meta h1 {
  /* Berling T is preferred, but not available on TypeKit */
  font-family: "adobe-garamond-pro", serif;
}

body.dark-bg {
  background-color: rgb(10,10,10);
  color: white;
}

h1, h2, h3, h4, h5, h6,
footer,
.post-time,
.date-threshold,
figcaption,
div.archive,
div.blognav,
.quote,
.link,
nav.sitenav,
.grid-container .sidebar {
  font-family: "azo-sans-web";
  font-weight: 300;
}

pre,
code {
  font-family: "anonymous-pro", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", monospace;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  color: rgb(50,50,50);
}

h1 {
  margin-top: 0;
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  margin-bottom: 1.3em;
}

a {
  color: red;
}

strong {
  font-weight: 500;
}

body > footer,
article footer,
.article-list article.quote footer,
small,
.font-small {
  font-size: 1.5rem;
}

article.quote footer {
  font-size: 2rem;
}

.grid-container,
.grid-container.normal {
  max-width: 38.7rem; /* 618px - original site width */
  max-width: 96rem; /* 960px */
}

.grid-container.full {
  max-width: 100%;
}

#blog .grid-container {
  max-width: 70rem;
}

li {
  list-style-type: disc;
}

ul {
  padding-left: 1.2em;
}

/* TODO: this is not needed - used in WIP/demo pages */
.column img {
  width: 100%;
  height: auto;
}

body > header {
  padding-top: .5em;
}

body > footer i.fa {
  font-size: 1.1em;
}

body > footer {
  margin: 6em 0 2em 0;
  color: rgb(180,180,180);
  font-weight: 200;
}

body > footer a {
  color: inherit;
}

body > footer a:hover {
  color: rgb(0,0,0);
}

/* @group Nav */

nav.sitenav {
  display: inline-block;
  width: 100%;
  
  font-size: .6em;
  color: black;
}

nav.sitenav a {
  color: inherit;
  text-decoration: inherit;
}

.dark-bg nav.sitenav {
  color: white;
}

nav.sitenav .logo {
  margin: 0;
  padding: 0;
}

nav.sitenav .logo a {
  margin: 0;
  padding: 0;
}

nav.sitenav .logo img {
  background-color: rgb(245,246,246);
  margin: 0;
  padding: 0;
  vertical-align: -.2em;
  margin-right: .5em;
}

nav.sitenav .logo .logotype {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;

  text-transform: uppercase;

  color: black;
  
  font-size: 1.2em
}

.dark-bg nav.sitenav .logo .logotype,
nav.sitenav .dark-bg .logo .logotype {
  color: white;
}

nav.sitenav .logo .logotype .lastname {
  padding-left: .3em;
}

nav.sitenav .mobilemenu {
  display: none;
}

nav.sitenav .menu {
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 1;
  
  padding-top: .5em;
}

nav.sitenav .menu li {
  border-bottom: 0;
  list-style-type: none;
}

nav.sitenav .menu a {
  text-decoration: none;
  color: black;
}

.dark-bg nav.sitenav .menu a,
nav.sitenav .dark-bg .menu a {
  color: white;	
}

nav.sitenav .menu > li {
  display: inline;
  margin: 0 0 0 2em;
  padding-bottom: .5em;
  box-sizing: border-box;
  position: relative;
  z-index: 533;
}

nav.sitenav .menu li .menuitem {
  border-bottom: 1px solid transparent;
  cursor: pointer;

  transition: border-bottom-color 0.4s ease-in-out;
  
  -webkit-font-smoothing: subpixel-antialiased;
}

.dark-bg nav.sitenav .menu li .menuitem,
nav.sitenav .dark-bg .menu li .menuitem {
  -webkit-font-smoothing: antialiased;
}

nav.sitenav .menu li .menuitem:hover {
  border-bottom-color: black;
}

.dark-bg nav.sitenav .menu li .menuitem:hover,
nav.sitenav .dark-bg .menu li .menuitem:hover {
  border-bottom-color: white;
}

nav.sitenav .menu .folder:before {
  speak: none;
  content: "+";
}

nav.sitenav .menu .folder .submenu-wrapper {
  position: absolute;
  width: 180px;
  padding-top: 18px;
  display: none;
  margin-left: -1.6em;
  left: 0;
}

nav.sitenav .menu .folder .submenu-wrapper .submenu {
  padding: 1.8em;
  position: relative;
  display: none;
  text-align: left;
  box-shadow: 1px 1px 1px rgba(30,30,30,.4);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background: black;
}

.dark-bg nav.sitenav .menu .folder .submenu-wrapper .submenu,
nav.sitenav .dark-bg .menu .folder .submenu-wrapper .submenu {
  -webkit-font-smoothing: subpixel-antialiased;
  background: white;
}

nav.sitenav .menu .folder .submenu-wrapper .submenu:before {
  content: '';
  display: block;
  border-width: 0 0 10px;
  border-style: solid;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  left: 0;
  margin-left: 2.2em;
}

nav.sitenav .menu .folder:hover .submenu-wrapper,
nav.sitenav .menu .folder:hover .submenu-wrapper .submenu,
nav.sitenav .menu .folder .submenu-wrapper:hover,
nav.sitenav .menu .folder .submenu-wrapper:hover .submenu {
  display: block;
}

nav.sitenav .menu .folder .submenu li a {
  color: #bbb;
  transition: color 0.2s ease-in-out;
  padding: .5em 0; /* should match li margin */
  padding-left: .5em;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  
  width: 100%;
}

.dark-bg nav.sitenav .menu .folder .submenu li a,
nav.sitenav .dark-bg .menu .folder .submenu li a {
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased;
}

nav.sitenav .menu .folder .submenu li a:hover,
nav.sitenav .menu .folder .submenu li a:active {
  color: red;
}

@media (-webkit-min-device-pixel-ratio: 2), 
       (min-resolution: 192dpi) { 
  .logoimg {
	content: url(/favicon32.png);
	width: 16px;
	height: 16px;
  }
}

/* @end Nav */

/* This specific selector reuired because of pages with banner images */
main > .grid-container:first-child {
  margin-top: 3em;
}

#blog main > .grid-container:first-child {
  margin-top: 5em;
}

article > footer {
  margin-top: 3em;
}

body > footer ul {
  margin: 0;
  padding: 0;
}

body > footer ul,
body > footer ul + p {
  display: inline-block;
}

body > footer .social li {
  display: inline-block;
  list-style-type: none;
}

body > footer .rss li {
  display: inline-block;
  list-style-type: none;
}

section {
  margin-top: 1em;
  margin-bottom: 2em;
}

figure {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

figure figcaption {
  margin-top: -.5em;
  font-size: .7em;
  text-align: right;
  color: rgb(105,105,105);
}

blockquote {
  border-left: .6rem solid rgb(125,125,125);

  font-style: italic;
  margin-left: .4rem;
  padding: .2em 0 .3em 1em;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre {
  margin: 0 0 1em 0;
}

pre,
code,
pre code {
  font-size: .9em;
}

pre {
  border: 1px dotted rgb(220,220,220);
  padding: .7rem 1rem;
  overflow: auto;
}

pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}

.fullpage .image,
.banner .image {
  -webkit-font-smoothing: subpixel-antialiased;

  display: block;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  
  position: absolute;
  left: 0px;
  top: 0px;

  width:100%;
  height: 100%;

  background-size: cover;
}


.banner {
  position: relative;
  height: 500px;
}

.banner .head-title {
  position: relative;
  height: 100%;
}

.banner .head-title .title {
  position: absolute;
  bottom: 2rem;
}

.banner .head-title h1 {
  margin-bottom: 0;
}

.banner + .grid-container p:first-child {
  margin-top: 3em;
}

.grid-container .sidebar {
  color: #888;
  font-size: .72em;
  line-height: 1.6em;
}

.grid-container .sidebar .inline.fa {
  width: 1em;
  margin-right: .4em;
}

.grid-container .sidebar a {
  color: inherit;
}

.grid-container .sidebar a:hover {
  color: rgb(0,0,0);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* @group Error */

#error .article-list article {
  margin: 0;
  margin-bottom: .6em;
}

#error .article-list h1,
#error .article-list p {
  display: inline;
}

#error .article-list h1 {
  font-size: 1em;
}

#error .article-list h1::after {
  content: " – ";
}

#error .article-list .current + .archived {
  margin-top: 2em;
}

#error .article-list h1 a {
  color: red;
}

/* @end */

/* @group Slideshow */

.slideshow .slide.hidden {
  display: none;
}

.slideshow .controls button {
  border: 0;
  background: inherit;
  padding: 0;
  height: 1em;
}

.slideshow .controls button + button {
  margin-left: .1em;
}

.slideshow .controls:hover {
  opacity: 1;
}

.slideshow .dark-bg .controls,
.slideshow .dark-bg.controls {
  color: white;
}

.slideshow .slide .main {
  position: absolute;
  top: 5em;
  right: 3em;
  margin-left: 3em; /* for mobile devices */
  max-width: 30em; /* max-width instead of width for mobile devices */
  
  font-family: "aktiv-grotesk-std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
  
  color: black;
}

.dark-bg .slideshow .slide .main,
.dark-bg .slideshow .slide .main h1 {
  color: white;
}

.slideshow .slide .main h1 {
  font-weight: 100;
}

.slideshow .slide .main p {
  font-weight: 300;	
}

/* @end */

/* @group About */

#about .contact-list {
  padding: 0;
}

#about .contact-list li {
  list-style-type: none;
  margin-bottom: .5em;
}

#about .contact-list .pgp-fingerprint span {
  margin-right: .3em;
}


#about div.me {
  background-color: rgb(245,246,246);
  border-radius: 10px;
  margin-top: -8em;
  height: 0;
    
  width: 80%;
  padding-bottom: 80%;
  
  position: relative;
}

#about div.me img {
  display: block;
  width: 80%;
  
  position: absolute;
  
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;  
}

#about .sidebar .name {
  font-weight: 500;
  font-size: 1.3em;
  display: block;
  color: #777;
}

#about .sidebar .tag {
  display: block;
  font-style: italic;
  margin-top: -1.6em;
}

#about .sidebar .social {
  font-size: 1.34em;
}

/* @end About */

/* @group Blog */

#blog nav.sitenav .logotype,
#blog nav.sitenav .menuitem,
#blog nav.sitenav .menu .folder:before,
#blog nav.sitenav .menu > li:after {
  color: rgb(200,200,200);	
}

/* TODO: this needs checking on mobile browsers */
#blog nav.sitenav .menu > li {
  font-weight: 300;
}

#blog nav.sitenav .menu > li {
  margin: 0;
}

#blog nav.sitenav .menu > li:not(:last-child):after {
  content: "/";
  margin: 0 .2em;
}

div.blognav {
  margin-top: 4em;
  padding-top: .3em;
  border-top: 1px solid rgb(230,230,230);
}

div.blognav .feedback,
div.blognav .feedback a {
  color: #999;
}

div.blognav .feedback {
  font-style: italic;
  font-size: .8em;
}

div.blognav li {
  list-style-type: none;
}

div.blognav .fa-li {
  text-align: left;
  width: 1em;
  margin: 0;
  left: -1.6em;
  top: 0.3em;

}

div.blognav .fa-ul {
  margin: .5em 1.6em;
}

div.blognav,
div.blognav a {
  color: rgb(60,60,60);
}

.article-list .date-threshold,
article .post-time {
  display: block;
  color: #777;
}  

.article-list .date-threshold {
  border-bottom: 1px solid rgb(220,220,220);
}

.article-list article h2 {
  margin-top: 0;
}

.article-list article + article {
  margin-top: 4em;
}

.article-list .date-threshold {
  margin: 4em 0 2em 0;
}

.article-list .date-threshold:first-child {
  margin-top: 2em;
}

.article-list article a.readmore {
  color: inherit;
  text-decoration: inherit;
}

article.quote header {
  margin-bottom: 1em;
}

article.quote footer,
.article-list article.quote footer,
.article-list article.quote footer p {
  margin-top: 0;
}

article.quote footer p.author,
.article-list article.quote footer {
  padding-left: 1.5em;
}

.article-list article.link footer a {
  display: block;
}

.article-list article .post-time {
  display: none;	
}

.article-list article.photo header {
  display: none;	
}

.article-list article div.header-image {
  height: 11em;
  background-size: cover;
  overflow: hidden;
  content: "";
}

article {
  margin-top: 0em;
}

article h1 a,
article h2 a {
  color: inherit;
}

article .post-time {
  font-size: .8em;
}

article h1 {
  margin-bottom: 0;
}

article h1, 
article h2 {
  text-transform: uppercase;
}

article.quote.short h1,
article.quote.short h2 {
  text-transform: inherit;	
}

article h1 {
  font-size: 1.7em; 
}

article header {
  margin-bottom: 4em;
}

.article-list article header {
  margin-bottom: inherit;
}

article header h1,
article header h2 {
  font-weight: 500;
}

article.quote.short header h1,
article.quote.short header h2 {
  font-weight: 200;
}

article header a {
  text-decoration: none;
}

article.quote.short h1:before,
article.quote.extended .content p:first-child:before,
article.quote.short h2:before,
article.quote.extended .excerpt p:last-child:before {
  content: open-quote;
}

article.quote.short h1:after,
article.quote .content p:last-child:after,
article.quote.short h2:after,
article.quote.extended .excerpt p:last-child:after {
  content: close-quote;
}

article.quote p {
  font-weight: 200;	
}

article.post .content {
  font-weight: normal;
}

article.link p {
  font-size: .9em;	
}

article.link footer li {
  list-style-type: none;
  margin: 0;
}

article footer .permalink {
	/*
  display: block;
  float: right;
  */
}

article.link footer li,
article.link footer li a {
  color: #aaa;
}

article.link footer .fa-li {
  text-align: left;
  width: 1em;
  margin: 0;
  left: -1.6em;
  top: 0.3em;
}

article.link footer .fa-ul {
  margin: 1.6em;
}

article.link footer .author {
  color: black;
}

.article-list  article.link footer {
  margin-top: 0;
}

/* @end Blog */

/* @group Travel */

#travel article header {
  position: relative;
  min-height: 15em;
  background-size: cover;
}

#travel article header h2 {
  position: absolute;
  bottom: 0;
  padding: 0 .5em;
}

/* @end */

/* @group Gallery */

#gallery-page nav.sitenav .menuitem,
#gallery-page nav.sitenav .menu .folder:before,
#gallery-page nav.sitenav .menu > li:after {
  color: rgb(200,200,200);	
}

#gallery-page nav.sitenav .logotype,
#gallery-page .grid-container.gallery .meta * {
  color: #444;
}

#gallery-page .grid-container.gallery .imageset {
  margin-bottom: 3em;
}

#gallery-page .slideshow .slide div.image {
  /* Make all images appear the same size. With "contain", the full images are shown, but show shorter or narrower than the slideshow  viewport. This looks odd. All images in a gallery should be the same aspect ratio and the gallery aspect ratio should be adjusted to the images, showing full image regardless of "cover" or "contain" setting. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom !important;	
}

  /* @group image frame */
  
  /* Fluid constant aspect ratio scaling frame. Create a frame that spans 100% of it's container (grid, screen, etc)... */
#gallery-page .slideshow {
  width: 100%;
  position: relative;
  display: inline-block;
}

  /* ... but restrict the aspect ratio ... */
  /* padding-top:
  16:9  => 56.25%
  4:5 => 80.0
  5:7 => 71.42
  2:3 => 66.66
  */
  /* controls after comes here to pick up the same height, and it needs to create block for height 100% to work correctly */
#gallery-page .slideshow .controls::after,
#gallery-page .slideshow::after {
  display: block;
  content: '';
  padding-top: 66.66%;
}


  /* @end */

/* position the controls over the slides */
#gallery-page .slideshow .controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  color: #fff;
}

#gallery-page .slideshow .controls button {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  
  opacity:  0;
  text-shadow: 0 0px 4px rgba(0,0,0,.5);
  transition: opacity 0.6s ease-in-out;
}

#gallery-page .slideshow .controls button:hover {
  opacity: 1;
}

#gallery-page .slideshow .controls button.previous {
  left: 0;
  padding-right: 30%;
}

#gallery-page .slideshow .controls button.next {
  right: 0;
  padding-left: 30%;
}

/* hide extra content */

#gallery-page .slideshow .slide .main,
#gallery-page .slideshow .slide .caption {
  display: none;
}

/* @end */
