@import "content/media/css/theme";

/* iphone retina - portrait */
@media only screen and (max-width: 480px) {
  div.test1 {
    height: 460px;
    width: 320px;

    background-image: url("/media/images/photos/2013/01/vancouver-sunrise.jpg");
    background-position: -112px 0;
  }

  div.test1 img {
    width: 692px;
    height: 460px;
    top: 0px;
    left: -212px; 

    content: url("/media/images/photos/2013/01/vancouver-sunrise.jpg");
  }

}

/* iphone retina - landscape */
/* ipad, ipad retina - portrait */
@media only screen and (max-width: 768px) and (min-width: 481px) {
  div.test1 {
    height: 460px;
    width: 768px;

    background-image: url("/media/images/photos/2013/01/black-tusk-sunset.jpg");
  }

  div.test1 img {
    width: 768px;
    height: 460px;
    top: 0px;
    left: 0px; 
    content: url("/media/images/photos/2013/01/black-tusk-sunset.jpg");
  }

}

/* ipad, ipad retina - landscape */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  div.test1 {
    height: 460px;
    width: 320px;
  }

  div.test1 img {
    width: 692px;
    height: 460px;
    top: 0px;
    right: 0px; 

    content: url("/media/images/photos/2013/03/vancouver.jpg");
  }

}

/* new stuff */

.caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-family: "aktiv-grotesk-std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .8em;
  
  -webkit-font-smoothing: antialiased;
  color: $darkest;
}

.caption .icon {
  opacity: 0.5;
}

.caption .description {
  position: absolute;
  bottom: .1em;
  left: 2em;
  width: 20em;
  opacity: 0;
  text-align: left;
}

.caption .description,
.caption .icon,
#frontpage .scrolldown {
  transition: opacity 0.2s ease-in-out;
}

.caption:hover .description,
.caption:hover .icon,
#frontpage .scrolldown:hover {
  opacity: 1;
}

.dark-bg .caption,
.dark-bg.caption {
  color: $lightest;
}

.caption:hover {
  opacity: 1;
}

/* page specific */

.slideshow {
  width: 100vw;
  max-width: 100%; /* fixes width100vw with scrollbars */
  height: 100vh;
}

.slideshow .controls {
  position: absolute;
  bottom: .8em;
  right: .8em;
  
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}



#frontpage {
  min-height: 200vh;	
}

#frontpage .scrolldown {
  font-size: 2em;
  position: absolute;
  top: 94.5vh;
  left: 50vw;
  opacity: 0.5;
}

.scrolldown a {
  color: inherit;	
}

.chameleon .scrolldown.dark-bg a {
  color:  $lightest;
}


.article-list,
.bio-blob {
  font-size: .9em;
}

.article-list tr > td {
  padding-bottom: .4em;	
}

.article-list td {
  vertical-align: top;
}

.article-list td.time,
.article-list td.archive {
  width: 6em;
}

.article-list td.archive {
  text-align: right;
}

.article-list td.archive i {
  margin-right: .6em;
}

.article-list a {
  padding-right: .5em;
}


