@import "base";
@import "theme";

* {
  box-sizing: border-box;  
}

html {
  font-size: 62.5%; /* 62.5 = 10px; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 2.3rem;
  line-height: 1.45;
  background-color: $lighter;
  color: $darker;
}

body,
article.article .content,
article.note .content,
#gallery-page .grid-container.gallery .meta h1,
.font-serif {
  /* Berling T is preferred, but not available on TypeKit */
  font-family: $font-family-serif /*"freight-text-pro"*/;
  font-weight: 450;
}

body.dark-bg,
div.body.dark-bg {
  background-color: $darkest;
  color: $light;
}

h1, h2, h3, h4, h5, h6  {
  font-family: $font-family-sans /*"freight-sans-pro"*/;
  font-weight: 600;
}

article h1, article h2, article h3, article h4, article h5, article h6  {
  font-family: $font-family-condensed /*"freight-sans-compressed-pro"*/;
  font-weight: 600;

}

footer,
.post-time,
.date-threshold,
figcaption,
div.archive,
div.blognav,
.quote,
.bookmark,
.content-container .sidebar,
.font-sansserif {
  font-family: $font-family-sans /*"freight-sans-pro"*/;
  font-weight: 400;
}


pre,
code,
.font-code {
  font-family: $font-family-mono /*"source-code-pro", monospace*/;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2em;
  color: $darker;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4 {
  color: $lighter;	
}

h1 {
  margin-top: 0;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-bottom: 1.3em;
}

a {
  color: red;
  text-decoration: underline;
}

.dark-bg a {
  color: $link;
}

small,
.font-small,
article footer,
.breadcrumbs,
header#mainhead .menutoggle,
body > footer {
  font-size: .8em;
}

dl {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

header#mainhead .menutoggle,
header#mainhead .menutoggle a {
  color: $darker;
}

#mainhead input.menutoggle {
  appearance: initial;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  height: 100%;
  width: 2rem;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

#mainhead input.menutoggle::after {
  content: "\2261";
  display: block;
  width: 100%;
  height: 100%;
}

#mainhead input.menutoggle:checked::after {
  content: "\00d7";
}

#mainhead input.menutoggle:checked ~ nav.main-nav.top {
  display: flex;
}
.content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // gap: 3rem; //upsetting some space settings

  margin-left: auto;
  margin-right: auto;
  padding-left: .5em; //it was 10px, why?
  padding-right: .5em; //it was 10px, why?
}

.flex-item-25 {
  flex: 1;
  min-width: 25%;
}

.flex-item-30 {
  flex: 1;
  min-width: 30%;
}

.flex-item-33 {
  flex: 1;
  min-width: 33%;
}

.flex-item-40 {
  flex: 1;
  min-width: 40%;
}

.flex-item-50 {
  flex: 1;
  min-width: 50%;
}

.flex-item-60 {
  flex: 1;
  min-width: 60%;
}

.flex-item-70 {
  flex: 1;
  min-width: 70%;
}

.flex-item-100 {
  flex: 1;
  min-width: 100%;
}

.content-container,
.content-container.normal {
  max-width: 100rem;
}

.content-container.full {
  max-width: 100%;
}

#blog .content-container,
.content-container.narrow {
  max-width: 85rem;
}

/* disabling, it messes with other li settings. Why?
li {
  list-style-type: disc;
}

ul {
  padding-left: 1.2em;
}
*/

/* TODO: this is not needed - used in WIP/demo pages */
// .column img {
//   width: 100%;
//   height: auto;
// }

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  //width: calc(100% - 2rem);
  font-family: $font-family-mono;
  column-gap: 0.4em;
}

body > header {
  padding-top: .5em;
  padding-bottom: .5em;
}

body > footer {
  margin: 6em 0 2em 0;
  color: $light;
}

body.dark-bg > footer,
div.body.dark-bg > footer {
  color: $dark;
}

body > footer a,
body.dark-bg > footer a,
div.body.dark-bg > footer a {
  color: inherit;
}

body > footer a:hover {
  color: $darkest;
}

body.dark-bg > footer a:hover,
div.body.dark-bg > footer a:hover {
  color: $lightest;
}

body > footer {
  border-top: 1px solid;
  padding-top: 1em;
}

body > footer .h-card {
  margin-bottom: 1em;
}

body > footer .h-card .u-photo {
  width: 5em;
  float: left;
  
  border: 3px solid $light;
  border-radius: 50%;
  margin-right: 2em;
}

/* @group IndieWeb */

article a.u-author {
  display: hidden;
}

/* @end */

/* @group Nav */

.breadcrumbs .logotype {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-transform: uppercase;
  color: black;
  font-size: 1.2em
}

.dark-bg .breadcrumbs .logotype,
.breadcrumbs .dark-bg .logotype {
  color: $lightest;
}

.breadcrumbs .crumb.root img.logo {
  // lining up logo with 
  margin-top: .33em;
}

.breadcrumbs .crumb.root img.logo[src="/favicon.svg"] {
  //NOTE: the object position and width are based on the favicon.svg file. If the file changes, this will have to be updated.
  object-fit: contain;
  object-position: -3.5px -4px;
  width: 23px;
}

nav.main-nav {
  // display: grid;
  --main-nav-gap: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-nav-gap);
  width: 100%;
  flex: 0 0 100%;
  // grid-gap: 3.5rem 2rem;
  // overflow: hidden;

  font-family: $font-family-mono;
  font-size: 1em;

  /* this should be media dependent */
  // grid-template-columns: repeat(5,1fr);
}

nav.main-nav.top {
  padding-top: 1em;
  border-top: 1px solid $light;
  border-bottom: 1px solid $dark;
  display: none;
}

nav.main-nav .nav-group {
  flex-basis: calc(var(--content-container-multiplier) * 999);
  flex-grow: 1;
  max-width: max-content;
  min-width: calc(20% - var(--main-nav-gap));
}

nav.main-nav .nav-group.gallery {
  min-width: calc(70% - var(--main-nav-gap));
  max-width: 100%;
}
nav.main-nav .nav-group.about {
  min-width: calc(30% - var(--main-nav-gap));
  max-width: 100%;
}

header nav.main-nav {
  margin-top: 1rem;
}

footer nav.main-nav {
  margin-bottom: 4rem;
}

nav ul.nav-group {
  list-style-type: none;
  padding: 0;
}

nav .nav-group {
  display: block;
  margin: 0 0 1em;
}

nav .nav-group > :first-child {
  font-weight: bold;
}

body > footer .footer-item {
  // body > footer is context-container, which uses flex layout
  flex: 0 0 0px;
  padding-right: .5em;
}

body > footer .footer-item.copyright {
  flex: 1 1;
  text-align: right;
}

/* @end Nav */

/* 
  This specific selector required because of pages with banner images. Normally,
  the margin could be applied on main, however it would create awkward space
  above banners.
*/
main > .content-container:first-child {
  margin-top: 1em;
}

body > footer ul {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 1em;
  margin-bottom: 2em;
}

figure,
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

figure figcaption {
  margin-top: -.3em;
  font-style: italic;
  font-size: .8em;
  color: $dark;
}

.inline.icon {
  width: 1em;
  margin-right: .3em;
  vertical-align: -.1em;
}

blockquote {
  border-left: .3em solid $dark;

  font-style: italic;
  margin-left: .2em;
  padding: .2em 0 .3em 1em;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

pre {
  margin: 0 0 1em 0;
}

pre,
code,
pre code,
textarea.pubkey {
  font-size: .8em;
}

pre {
  border: 1px dotted $darker;
  padding: .4em .6em;
  overflow: auto;
  border-radius: .3em;
}

pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $darkest50;
}

.fullpage .image,
.banner .image,
.banner picture img {
  -webkit-font-smoothing: subpixel-antialiased;

  display: block;
  opacity: 1;
  z-index: -1;
  
  position: absolute;
  left: 0px;
  top: 0px;

  width:100vw;
  height: 100%;

  background-size: cover; /* only applicable to .image */
}

.banner picture img {
  object-fit: cover;
  object-position: center center;
}


.banner {
  position: relative;
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner .head-title {
  position: relative;
  height: 100%;
}

.banner .head-title .title {
  position: absolute;
  bottom: 1em;
}

.banner .head-title h1 {
  margin-bottom: 0;
}

.banner + .content-container p:first-child {
  margin-top: 3em;
}

.content-container .sidebar {
  color: $dark;
  font-size: .8em;
  line-height: 1.6em;
}

.content-container .sidebar a {
  color: inherit;
}

.content-container .sidebar a:hover {
  color: $darkest;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect($darkest,0);
  border: 0;
}

.shell {
  background-color: $darker;
  color: $lighter;
  white-space: pre-line;
  display: block;
  width: 100%;
}

.shell .shell-comment {
  color: $light;
}

textarea.pubkey {
  width: 100%;
  display: block;
  white-space: pre-line;
  border-radius: .3em;
  border: 1px dotted $darker;
  padding: .4em .6em;
  overflow: auto;
}

.taxonomy-term-list a {
  margin-right: .5em;
}

.section-list .post-time {
  font-size: .8em;
  margin-left: 1em;

// position the post type icon in negative margin like a bullet. It's the most
// straight forward way of customizing bullets. width, margin-left, and
// padding-right play together to make it work.
.li-icon-bullet {
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: right;
  padding-right: .3em;
}
  color: $dark;
}

/* TODO  */
.null-icon {
  background-color: red;
  width: 1em;
  height: 1em;
  display: inline-block;
}

/* @group Error */

#error .article-list article {
  margin: 0;
  margin-bottom: .6em;
}

#error .article-list h1,
#error .article-list p {
  display: inline;
}

#error .article-list h1 {
  font-size: 1em;
}

#error .article-list .current + .archived {
  margin-top: 2em;
}

/* @end */

/* @group Slideshow */

.slideshow .slide.hidden {
  display: none;
}

.slideshow .controls button {
  border: 0;
  background: inherit;
  padding: 0;
  height: 1em;
  font-size: 1.3em;
}

.slideshow .controls button + button {
  margin-left: .1em;
}

.slideshow .controls:hover {
  opacity: 1;
}

.dark-bg .slideshow .controls,
.dark-bg .slideshow .controls button,
.slideshow .dark-bg.controls,
.slideshow .dark-bg.controls button {
  color: $lightest;
}

.slideshow .slide .main {
  position: absolute;
  top: 5em;
  right: 3em;
  margin-left: 3em; /* for mobile devices */
  max-width: 30em; /* max-width instead of width for mobile devices */
  font-family: $font-family-sans /*"freight-sans-pro" */;
  text-align: right;  
  color: black;
}

.slideshow .slide .main h1 {
  font-family: $font-family-condensed /*"freight-sans-compressed-pro"*/;
}

.dark-bg .slideshow .slide .main,
.dark-bg .slideshow .slide .main h1 {
  color: $lightest;
}

/* @end */

/* @group About */

#about .contact-list,
.sidebar-list {
  padding: 0;
}

#about .contact-list li,
.sidebar-list li {
  list-style-type: none;
  margin-bottom: .2em;
}

.no-bullets {
  padding-left: 0;
}

.no-bullets li {
  list-style-type: none;
}

.hex-string .word {
  margin-right: .3em;
}

#about div.me
{
  background-color: $lighter;
  border-radius: 10px;
  margin-top: -8em;
  height: 0;
    
  width: 80%;
  padding-bottom: 80%;
  
  position: relative;
}

#about div.me img
{
  display: block;
  width: 100%;
  
  border-radius: 10px;
  
  position: absolute;
  
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;  
}

#about .sidebar .name {
  font-size: 1.3em;
  display: block;
  color: $dark;
  text-decoration: none;
}

#about .sidebar .tag {
  display: block;
  font-style: italic;
  margin-top: -1.6em;
}

#about .sidebar .social {
  font-size: 1.2em;
}

/* @end About */

/* @group Now */

#now .attribution .mapbox-logo {
  margin-top: 1em;
}

/* @end Now */

/* @group Blog */
}

}


div.blognav {
  margin-top: 2em;
  width: 100%;
}

div.blognav .feedback,
div.blognav .feedback a {
  color: $light;
}

div.blognav .feedback {
  font-style: italic;
}

div.blognav li {
  list-style-type: none;
}

div.blognav .fa-li {
  text-align: left;
  width: 1em;
  margin: 0;
  left: -1.6em;
  top: 0.05em;

}

div.blognav .fa-ul {
  margin: .5em 1.6em;
}

div.blognav,
div.blognav a {
  color: $darker;
}

.article-list .date-threshold {
  color: $dark;
}  

.article-list .date-threshold {
  border-bottom: 1px solid $lighter;
}

.article-list .date-threshold {
  font-size: 2em;
}

}

}

.article-list .date-threshold {
  margin: 4em 0 1.5em 0;
}
article div.header-image {
  height: 15em;
  background-size: cover;
  overflow: hidden;
  content: "";
  display: block;

.article-list .date-threshold:first-child {
  margin-top: 2em;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 2em;
}

.article-list article a.readmore {
  color: inherit;
  text-decoration: inherit;
.article-list article h2 {
  margin-top: 0;
}

article.quote div.content,
#frontpage .quote {
  font-style: italic;
  font-weight: 300;
.article-list article + article {
  margin-top: 3em;
}

article.quote p.author {
  padding-left: 1.5em;
  margin-top: -.6em;
.article-list article div.header-image h2 {
  position: absolute;
  bottom: 0;
  padding: 0 .5em;
}

.article-list article div.header-image {
  height: 11em;
}

article h1 a,
article h2 a {
  color: inherit;
}

article h1 {
  margin-bottom: 0;
}

article header {
  margin-bottom: 3em;
}

.article-list article header {
  margin-bottom: inherit;
}

article header a {
  text-decoration: none;
}

article.quote blockquote {
	border: none;
	padding-left: inherit;
}

article.quote .content p:first-child:before,
#frontpage .article-list .quote a:before {
  content: open-quote;
}

article.quote .content p:last-child:after,
#frontpage .article-list .quote a:after {
  content: close-quote;
}

article .quote .author {
  color: black;
}

article footer,
article footer a {
  color: $light;
}

article footer p {
  margin-bottom: .5em;
  margin-top: 0em;
}

dl.key-value-table {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0 .5em;
  grid-auto-rows: auto;
}

dl.key-value-table dt {
    grid-column-start: 1;
}

dl.key-value-table dd {
  grid-column-start: 2;
  margin-inline-start: 0px;
}

dl.key-value-twoline dt {
  color: $dark;
}

dl.key-value-twoline dd {
  margin-inline-start: 0px;
  margin-bottom: .5em;
}

}

/* @end Blog */

/* @group Gallery */

#gallery-page .grid-container.gallery .imageset {
  margin-bottom: 3em;
}

#gallery-page .slideshow .slide div.image {
  /* Make all images appear the same size. With "contain", the full images are shown, but show shorter or narrower than the slideshow  viewport. This looks odd. All images in a gallery should be the same aspect ratio and the gallery aspect ratio should be adjusted to the images, showing full image regardless of "cover" or "contain" setting. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom !important;	
}

  /* @group image frame */
  
  /* Fluid constant aspect ratio scaling frame. Create a frame that spans 100% of it's container (grid, screen, etc)... */
#gallery-page .slideshow {
  width: 100%;
  position: relative;
  display: inline-block;
}

  /* ... but restrict the aspect ratio ... */
  /* padding-top:
  16:9  => 56.25%
  4:5 => 80.0
  5:7 => 71.42
  2:3 => 66.66
  */
  /* controls after comes here to pick up the same height, and it needs to create block for height 100% to work correctly */
#gallery-page .slideshow .controls::after,
#gallery-page .slideshow::after {
  display: block;
  content: '';
  padding-top: 66.66%;
}


  /* @end */

/* position the controls over the slides */
#gallery-page .slideshow .controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  color: $lightest;
}

#gallery-page .slideshow .controls button {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  
  opacity:  0;
  text-shadow: 0 0px 4px $darkest50;
  transition: opacity 0.6s ease-in-out;
}

#gallery-page .slideshow .controls button:hover {
  opacity: 1;
}

#gallery-page .slideshow .controls button.previous {
  left: 0;
  padding-right: 30%;
}

#gallery-page .slideshow .controls button.next {
  right: 0;
  padding-left: 30%;
}

/* hide extra content */

#gallery-page .slideshow .slide .main,
#gallery-page .slideshow .slide .caption {
  display: none;
}

/* @end */
