[submodule "depends/normalize.css"]
	path = depends/normalize.css
	url = https://github.com/necolas/normalize.css
[submodule "depends/microevent.js"]
	path = depends/microevent.js
	url = https://github.com/jeromeetienne/microevent.js
