[submodule "depends/microevent.js"]
	path = depends/microevent.js
	url = https://github.com/jeromeetienne/microevent.js
[submodule "depends/the-new-css-reset"]
	path = depends/the-new-css-reset
	url = https://github.com/elad2412/the-new-css-reset.git
