-e ../hana
-e ../hana-plugins/assets
-e ../hana-plugins/aws-s3-deploy
-e ../hana-plugins/drafts
-e ../hana-plugins/excerpts
-e ../hana-plugins/frontmatter
-e ../hana-plugins/ignore
-e ../hana-plugins/jinja
-e ../hana-plugins/markdown
-e ../hana-plugins/metadata
-e ../hana-plugins/pretty_url
-e ../hana-plugins/tags
-e ../hana-plugins/titles

