Jinja2>=2.10
-e git+https://github.com/mayo/hana.git@82ef90cd79d33978a9db1e378f3635a530e61b17#egg=hana
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_assets&subdirectory=assets
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_aws_s3_deploy&subdirectory=aws-s3-deploy
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_cloudflare&subdirectory=cloudflare
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_tags&subdirectory=tags
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_drafts&subdirectory=drafts
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_excerpts&subdirectory=excerpts
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_frontmatter&subdirectory=frontmatter
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_ignore&subdirectory=ignore
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_jinja&subdirectory=jinja
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_markdown&subdirectory=markdown
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_metadata&subdirectory=metadata
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_micro_blog&subdirectory=micro-blog
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_pretty_url&subdirectory=pretty_url
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_sass&subdirectory=sass
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_titles&subdirectory=titles
-e git+https://github.com/mayo/hana-plugins.git@9adf762460825be7e747b3d720e81fdd6caed973#egg=hana_plugin_webmentions&subdirectory=webmentions

