---
extends: grid.html
title: About Mayo
page_id: about
---
{% block main_content %}
<div class="banner">
  <div class="image" style="background-image: url('/media/images/about.jpg'); background-position: center;"></div>

  <div class="head-title grid-container normal dark-bg">
    <div class="title grid-100">
      <h1 style="color: white">Mayo Jordanov</h1>
    </div>
  </div>
</div>


<div class="grid-container {{ grid_container_class }}">

  <div class="grid-65 mobile-grid-100">

    <p>I like challenges. Where others see a problem, I see a challenge in need of a solution. It taunts me, begging to be solved, and it’s personal. Some can be solved by writing code, some by clever design, others by talking to people. Most require creative thinking, but the best kind requires learning of new skills or applying knowledge in new and unexpected ways. </p>

    <p>My background is software development and system administration, but through the varied nature of my work I gained experience in other areas of tech and creative fields. Web applications, database design, network administration, building automation, and web design are just some of the areas I had an opportunity to gain experience in.</p>

    <p>As a naturally curious person I’m driven to explore the unknown, and the great outdoors is my playground. With snow on ground, I take my skis to explore the mountains around me. When the air gets warmer, I like to climb rocks, hike up mountains, or ride around on a bike. I run when I can, trying to keep in shape for the next long distance race or adventure. All these activities help me escape the daily bustle and enjoy serene outdoors that not everyone gets to see.</p>

    <p>Photography is my creative outlet and reflects my passion for outdoors. I try to enjoy the moments on my adventures, and capture them as they happen, so others can share the experience and feel as if they were there.</p>

  </div>

  <div class="grid-35 mobile-grid-100 sidebar">
    <p>
      <ul class="contact-list h-card">
        <li><div class="me"><img class="me u-photo" src="/media/images/mex1.png"/></div></li>
        <li class="main"><span class="name p-name">Mayo Jordanov</span><br/><span class="tag">Creative Solutions</a></li>
        <li><i class="fa inline fa-globe"></i><span class="p-locality">Vancouver</span>, <span class="p-region">BC</span></li>
        <li><i class="fa inline fa-envelope-o"></i><a href="mailto:mayo@oyam.ca" class="u-email">mayo@oyam.ca</a><br/><i class="fa inline fa-phone"></i><span class="p-tel">+1.604.484.9845</span></li>
        <li class="pgp-fingerprint"><i class="fa inline fa-key"></i>GPG: <a rel="me" href="https://keybase.io/mayo"><span>56A3</span><span>789C</span><span>ED4D</span><span>2DD7</span></a></li>
        <li class="social">
        {% for link, icon in social_links %}
          <a href="{{ links[link] }}"><i class="fa {{ icon }}"></i></a>
        {% endfor %}
        </li>
      </ul>
    </p>

    <p>I'm available to work on software, IT, or photography projects. Please contact me for more information or to chat about the details.</p>

    <p>Any comments or suggestions are appreciated. It's not always possible to respond to all of them, so please don't take it personally if it takes me longer to respond or I don't reply at all.</p>
  </div>

</div>
{% endblock %}
