{% set microblog = not article.title %}
{% if article.excerpt and article.type != "link" and article.type != 'quote' and article.type != 'photo' %}
  {% set has_excerpt = True %}
{% endif %}

<article class="{{ article.type }} h-entry {{ " in-list" if article_context == "list" }}">
  {% set post_link = "/" + article.path %}
  {% if article.type == "link" %}
    {% set post_link = article.href %}
  {% endif %}

  <header>
    <time class="post-time dt-published" datetime="{{ article.created.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ article.created.strftime('%A, %B %d, %Y') }}</time>

    {% if article.title and not article.type == 'quote' %}
      {% if article_context == "list" %}
        <h2><a href="{{ post_link }}" class="p-name">{{ article.title|safe }}</a></h2>
      {% else %}
        <h1 class="p-name">{{ article.title|safe }}</h1>
      {% endif %}
    {% endif %}

    <a class="u-author" href="/"></a>
  </header>

  {% set extra_content_class="" %}
  {% if article_context == "list" and has_excerpt %}
    {% set extra_content_class="excerpt" %}
  {% endif %}

  <div class="content {{ extra_content_class }} e-content">
    {% if article_context == "list" and article.type != "link" %}
      <a class="readmore" href="{{ post_link }}">
    {% endif %}

    {% if article_context == "list" and not microblog and article.type != "link" and article.type != 'photo' %}

      {% set header_style = [] %}
      {% if article.header %}
        {% if article.header.image %}
          {% do header_style.append("background-image: url('%s');" % article.header.image) %}
        {% endif %}
        {% if article.header.image_position %}
          {% do header_style.append("background-position: %s;" % article.header.image_position) %}
        {% endif %}
      {% endif %}

      {% if header_style %}
      <div class="header-image" style="{{ header_style|join(" ") }}"></div>
      {% endif %}

      {{ article.excerpt|safe }}
    {% else %}
      {{ article.contents|safe }}
    {% endif %}

    {% if article_context == "list" and article.type != "link" %}
      </a>
    {% endif %}
  </div>

  {% if article.type == "quote" %}
  <p class="article author">&mdash; {{ article.author }}</p>
  {% endif %}

  <footer>
    <dl>
    {% if (article.type == "link" and article.href) or microblog  %}
      {# Don't show permalinks for quotes, they never have titles and are "microblog" posts #}
      {% if article_context == "list" and article.type == "link" %}
      <dt class="icon"><i class="fal fa-bookmark" title="Permalink"></i><span class="sr-only">Permalink</span></dt>
        <dd><a class="permalink" href="/{{ article.path }}">Permalink</a></dd>
      {% endif %}

      {% if article.href %}
      <dt class="icon"><i class="fal fa-external-link-square" title="Article link"></i><span class="sr-only">Article link</span></dt>
        <dd><a class="extlink" href="{{ article.href }}">{{ article.href }}</a></dd>
      {% endif %}
      {% if article.source %}
      <dt class="icon"><i class="fal fa-external-link" title="Source link"></i><span class="sr-only">Source link</span><dt>
        <dd><a class="extlink" href="{{ article.source_link }}">{{ article.source }}</a></dd>
      {% endif %}
    {% endif %}

    {% if article.tags and article_context != "list" %}
    <dt class="icon"><i class="fal fa-tag" title="Tags"></i><span class="sr-only">Tags</span><dt>
    {% for tag in article.tags %}
      <dd><a href="/tags/{{tag}}" class="p-category">{{ tag }}</a></dd>
    {% endfor %}
    {% endif %}

    {% if article['syndicate-to'] and article_context != "list" %}
    <dt class="icon"><i class="fal fa-share-alt-square" title="Syndicated to"></i><span class="sr-only">Syndicated to</span><dt>
      {% for item in article['syndicate-to'] %}
        {% set url = item.url if 'url' in item else item %}
        {% set name = item.name if 'name' in item else url %}
      <dd><a href="{{ url }}" class="u-syndication">{{ name }}</a></dd>
      {% endfor %}
    {% endif %}

    </dl>

    {% if article_context != "list" %}
    <p class="feedback">Feedback is always welcome. Feel free to <a href="/about">get in touch</a>, or edit <a href="{{ site.links.github }}{{ site.github.repo }}{{ site.github.edit }}{{ site.source_dir }}/{{ page.source_file }}">{{ page.source_file }}</a> on GitHub and submit a push request.</p>
    {% endif %}
    </dl>
  </footer>
</article>
