{% set extra_classes = "" %}
{% if type == "quote" and contents != "" %}
  {% set extra_classes = "extended" %}
{% endif %}

<article class="{{ type }} {{ extra_classes }}">
  <header>
    {% set post_link = "/" + path %}
    {% if type == "link" %}
      {% set post_link = href %}
    {% endif %}
    {% set post_title = title %}

    {% if article_context == "list" %}
    <h2><a href="{{ post_link }}">{{ post_title }}</a></h2>
    {% else %}
    <h1>{{ title|safe }}</h1>
    {% endif %}

    {% if type != "quote" %}
    <time class="post-time" datetime="{{ created|date('l, F d, Y') }}">{{ created|date('l, F d, Y') }}</time>
    {% endif %}
  </header>

  {% set content_class="content" %}
  {% if article_context == "list" and type != "link" %}
    {% set content_class="excerpt" %}
  {% endif %}
  <div class="{{ content_class }}">
    {% if article_context == "list" and type != "link" %}
      <a class="readmore" href="{{ post_link }}">
    {% endif %}
    {% if type == "photo" %}
      <figure>
        <img src="/media/images/photos/{{ created|date('Y/m') }}/{{ photo }}" title="{{ title }}" width="900"/>
        <figcaption>{{ caption }}</figcaption>
      </figure>

    {% else %}
      {% if article_context == "list" and type != "link" %}
        {{ excerpt|safe }}
      {% else %}
        {{ contents|safe }}
      {% endif %}
    {% endif %}
    {% if article_context == "list" and type != "link" %}
      </a>
    {% endif %}
  </div>

  {% if type == "link" %}
  <footer>
    <ul class="fa-ul">
      {% if article_context == "list" %}
      <li><i class="fa-li fa fa-bookmark-o"></i><a class="permalink" href="/{{ path }}">Permalink</a></li>
      {% endif %}
      <li><i class="fa-li fa fa-external-link"></i><a class="extlink" href="{{ href }}">{{ href }}</a></li>
    {% if source %}
      <li><i class="fa-li fa fa-external-link"></i><a class="extlink" href="{{ source_link }}">{{ source }}</a></li>
    {% endif %}
    </ul>
  </footer>
  {% endif %}
  {% if type == "quote" %}
  <footer>
    <p class="author">&mdash; {{ author }}</p>
    <time class="post-time" datetime="{{ created|date('l, F d, Y') }}">{{ created|date('l, F d, Y') }}</time>
  </footer>
  {% endif %}
</article>
