{% set extra_classes = "" %}
{% if article.type == "quote" %}
  {% if article.contents != "" %}
    {% set extra_classes = "extended" %}
  {% else %}
    {% set extra_classes = "short" %}
  {% endif %}
{% endif %}

<article class="{{ article.type }} {{ extra_classes }}">
  <header>
    {% set post_link = "/" + article.path %}
    {% if article.type == "link" %}
      {% set post_link = article.href %}
    {% endif %}

    {% if article_context == "list" %}
      <h2><a href="{{ post_link }}">{{ article.title|safe }}</a></h2>
    {% else %}
      <h1>{{ article.title|safe }}</h1>
    {% endif %}

    {% if article.type != "quote" %}
    <time class="post-time" datetime="{{ article.created.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ article.created.strftime('%A, %B %d, %Y') }}</time>
    {% endif %}
  </header>

  {% set content_class="content" %}
  {% if article_context == "list" and article.type != "link" %}
    {% set content_class="excerpt" %}
  {% endif %}
  {% if article.excerpt or article.type == 'photo' %}
  <div class="{{ content_class }}">
    {% if article_context == "list" and article.type != "link" %}
      <a class="readmore" href="{{ post_link }}">
    {% endif %}
    {% if article.type == "photo" %}
      <figure>
        <img src="/media/images/photos/{{ article.created.strftime('%Y/%m') }}/{{ article.photo }}" title="{{ article.title }}" width="900"/>
        <figcaption>{{ article.caption }}</figcaption>
      </figure>

    {% else %}
      {% if article_context == "list" and article.type != "link" %}

        {% set header_style = [] %}
        {% if header_image %}
          {% do header_style.append("background-image: url('%s');" % header_image) %}
        {% endif %}
        {% if header_image_pos %}
          {% do header_style.append("background-position: %s;" % header_image_pos) %}
        {% endif %}

        {% if header_style %}
        <div class="header-image" style="{{ header_style|join(" ") }}"></div>
        {% endif %}

        {{ article.excerpt|safe }}
      {% else %}
        {{ article.contents|safe }}
      {% endif %}
    {% endif %}
    {% if article_context == "list" and article.type != "link" %}
      </a>
    {% endif %}
  </div>
  {% endif %}

  {% if article.type == "link" %}
  <footer>
    <ul class="fa-ul">
      {% if article_context == "list" %}
      <li><i class="fa-li fa fa-bookmark-o"></i><a class="permalink" href="/{{ article.path }}">Permalink</a></li>
      {% endif %}
      <li><i class="fa-li fa fa-external-link"></i><a class="extlink" href="{{ article.href }}">{{ article.href }}</a></li>
    {% if article.source %}
      <li><i class="fa-li fa fa-external-link"></i><a class="extlink" href="{{ article.source_link }}">{{ article.source }}</a></li>
    {% endif %}
    </ul>
  </footer>
  {% endif %}
  {% if article.type == "quote" %}
  <footer>
    <p class="article.author">&mdash; {{ article.author }}</p>
    <time class="post-time" datetime="{{ article.created.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ article.created.strftime('%A, %B %d, %Y') }}</time>
  </footer>
  {% endif %}
</article>
