{% extends "blog/blog.html" %}

{% block content %}

{% from "macros.j2" import blog_article %}
{{ blog_article(page, page) }}
{#% include "blog/_article.html" %#}

<div class="blognav font-small">

  <p class="feedback">Feedback is always welcome. Feel free to <a href="/about">get in touch</a>, or edit <a href="{{ site.links.github }}{{ site.github.repo }}{{ site.github.edit }}{{ site.source_dir }}/{{ page.source_file }}">{{ page.source_file }}</a> on GitHub and submit a push request.</p>

  <ul class="fa-ul">
    {% if page.previous -%}
    {# Using page.type for cases when photos are missing captions. It shouldn't happen to other posts #}
    <li><i class="fa fa-li fa-arrow-circle-o-right"></i><a class="small" href="/{{ page.previous.path }}">{{ page.previous.title or page.previous.contents|striptags|truncate(280) or page.previous.type }}</a></li>
    {%- endif %}
    {% if page.next -%}
    {# Using page.type for cases when photos are missing captions. It shouldn't happen to other posts #}
    <li><i class="fa fa-li fa-arrow-circle-o-left"></i><a href="/{{ page.next.path }}">{{ page.next.title or page.next.contents|striptags|truncate(280) or page.next.type }}</a></li>
    {%- endif %}
  </ul>
</div>

{% endblock %}

