{% extends "blog.html" %}

{% block content %}
  <h1>{{ title }}</h1>

  <div class="article-list">
  {% set lastDate = None %}
  {% for post in collections.articles %}
    {% if !list_limit or loop.index0 < list_limit %}

      {% if lastDate|date('F Y') != post.created|date('F Y') %}
      <div class="date-threshold">{{ post.created|date('F Y') }}</div>
        {% set lastDate = post.created %}
      {% endif %}
  
      {% set article_context="list" %}
      {% include "_article.html" with post %}

    {% endif %}
  {% endfor %}

  {% if !archive %}
    <div class="blognav font-small">
      <ul class="fa-ul">
        <li><i class="fa fa-li fa-archive"></i>More in <a class="small" href="/blog/archive.html">archive</a></li>
      </ul>
    </div>
  {% endif %}
  </div>

{% endblock %}
