{% extends "blog/blog.html" %}
{% from "macros.j2" import blog_article %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div class="article-list">
  {% set lastDate = [None] %}
  {% for post in site.tags.articles %}
    {% if not page.list_limit or loop.index0 < page.list_limit %}
      {% if lastDate[-1] != post.created.strftime('%B %Y') %}
      <div class="date-threshold">{{ post.created.strftime('%B %Y') }}</div>
        {% do lastDate.append(post.created.strftime('%B %Y')) %}
      {% endif %}

      {{ blog_article(site, page, post, "list") }}

    {% endif %}
  {% endfor %}

  {% if not page.archive %}
    <div class="blognav font-small">
      <ul class="fa-ul">
        <li><i class="fa fa-li fa-archive"></i>More in <a class="small" href="/blog/archive.html">archive</a></li>
      </ul>
    </div>
  {% endif %}
  </div>

{% endblock %}
