{% extends "grid.html" %}

{% block content %}
  <h1>{{ title }}</h1>

  <div class="article-list">
  {% for post in site.tags.travel if post.title %}
    <article class="{{ post.type }}">
      {% set post_link = "/" + post.path %}
      {% set post_title = post.title %}
      {% set header_style = [] %}

      {% if post.header.image %}
      {% do header_style.append("background-image: url('%s');" % post.header.image) %}
      {% endif %}
      {% if post.header.image_position %}
      {% do header_style.append("background-position: %s" % post.header.image_position) %}
      {% endif %}
      <a href="{{ post_link }}" title="{{ post_title }}">
          <div class="header" style="{{ header_style|join(" ") }}">
              <h2 {% if post.header.color %}style="color: {{ post.header.color }}"{% endif %}>{{ post_title }}</h2>
          </div>
      </a>
    </article>
  {% endfor %}
{% endblock %}
