<ul class="nav-group">
    <li><a href="{{ get_url(path="@/blog/_index.md") }}" class="menuitem">Blog</a></li>
    <!--
    <li><a href="{{ get_url(path="@/archive/_index.md") }}">Archive</a></li>
    -->
</ul>
<ul class="nav-group">
    <li><a href="{{ get_taxonomy_url(kind="categories", name="travel") }}" class="menuitem">Travel</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/about/_index.md") }}" class="menuitem">About</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/colophon/_index.md") }}" class="menuitem">Colophon</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/now/_index.md") }}" class="menuitem">Now</a></li>
</ul>
