<ul class="nav-group">
    <li><a href="{{ get_url(path="@/blog/_index.md") }}" class="menuitem" role="menuitem">Blog</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_taxonomy_url(kind="categories", name="travel") }}" class="menuitem" role="menuitem">Travel</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/about/index.md") }}" class="menuitem" role="menuitem">About</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/colophon/index.md") }}" class="menuitem" role="menuitem">Colophon</a></li>
</ul>
<ul class="nav-group">
    <li><a href="{{ get_url(path="@/now/index.md") }}" class="menuitem" role="menuitem">Now</a></li>
</ul>
