<nav id="sitenav" class="sitenav">
  <div class="navhead grid-33 mobile-grid-100 topleft">
    <div class="logo">
      <a href="/">
        <img src="/favicon.png" width="16" height="16"/>
        <div class="logotype"><span class="firstname">Mayo</span><span class="lastname">Jordanov</span></div>
      </a>
    </div>
    <div class="mobilemenu">
      <a href="#sitenav" class="show" title="Show Navigation">Show Navigation<span class="navicon fa fa-navicon"></span></a>
      <a href="#" class="hide" title="Hide Navigation">Hide Navigation<span class="navicon fa fa-navicon"></span></a>
    </div>
  </div>

  <div class="navmenu grid-66 mobile-grid-100 topright">
    <ul class="menu">

      <li class="folder">
        <a href="/" class="menuitem">showing</a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="/blog">Manhattan Beach</a></li>
            <li><a href="/archive">Vancouver Sunset</a></li>
          </ul>
        </div>
      </li>

      <li><a href="/work" class="menuitem">work & play</a></li>

      <li class="folder">
        <a href="/about" class="menuitem">mayo</a>
        <div class="submenu-wrapper">
          <ul class="submenu">
            <li><a href="/about">about</a></li>
            <li><a href="/about/contact.html">contact</a></li>
            <li><a href="/about/copyright.html">copyright</a></li>
            <li><a href="/feed/atom.xml">rss</a></li>
          </ul>
        </div>
      </li>

      <li><a href="/adventures" class="menuitem">adventures</a></li>

      <li><a href="/blog" class="menuitem">blog</a></li>
    </ul>
  </div>
</nav>

