<div class="slideshow chameleon">
    <div class="controls bottomright">
    <button class="previous fal fa-lg fa-chevron-circle-left" title="Previous"><span class="sr-only">previous</span></button>
    <button class="next fal fa-lg fa-chevron-circle-right" title="Next"><span class="sr-only">next</span></button>
  </div>

  <div class="slides">
    {% for slide in slides %}

      {% set quadrants = [] %}

      {% if slide.dark_bg %}
        {% do quadrants.append("data-darkbg") %}
      {% endif %}

      {% if slide.dark_bg_quadrants %}
        {% for q, val in slide.dark_bg_quadrants.iteritems() %}
          {% if val %}
            {% do quadrants.append(" data-darkbg-" + q) %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="slide fullpage" {{ quadrants|join(" ") }}>
        <div class="image" style="background-image: url('{{ slide.image }}'); background-position: {{ slide.image_position }};"></div>

        {% if not slide.hide_content %}
        <div class="main">
          <h1>{{ slide.title }}</h1>
          <p>{{ slide.content }}</p>
        </div>
        {% endif %}

        <div class="caption bottomleft">
          <div class="icon"><span class="fal fa-camera" aria-hidden></span></div>
          <div class="description">{{ slide.caption }}</div>
        </div>

      </div>
    {% endfor %}
  </div>
</div>
