{% extends 'page-sidebar.html' %}
{% block sidebar %}
<p>
  <ul class="contact-list h-card p-adr h-adr">
    <li><div class="me"><img class="me u-photo" src="/media/images/mex2.jpg"/></div></li>
    <li class="main"><a href="{{ config.extra.base_url | safe }}{{ get_url(path='@/about/_index.md') }}" class="name p-name u-url">Mayo Jordanov</a><br/><span class="tag p-note">Creative Solutions</a></li>
  </ul>

  <dl class="key-value-table">
    <dt><i class="fa inline icon fa-globe-americas" title="Location"></i><span class="sr-only">Location</span></dt>
    <dd><span class="p-locality">Vancouver</span>, <span class="p-region">BC</span>, <span class="p-country-name">Canada</span></dd>

    <dt><i class="fa inline icon fa-envelope" title="Email"></i><span class="sr-only">Email</span></dt>
    <dd><a href="mailto:mayo@oyam.ca" class="u-email">{{ config.extra.author.email | safe}}</a></dd>

    <dt><i class="fa inline icon fa-phone" title="Phone"></i><span class="sr-only">Phone</span></dt>
    <dd><span class="p-tel">+1.604.484.9845</span></dd>

    <dt><i class="fa inline icon fa-broadcast-tower" title="Callsign"></i><span class="sr-only">Callsign</span></dt>
    <dd><span>{{ config.extra.author.callsign }}</span></dd>

    <dt><i class="fa inline icon fa-key" title="GPG fingerprint"></i><span class="sr-only">GPG fingerprint</span></dt>
    <dd><a rel="me" href="{{ get_url(path="@/pubkey.md") | safe }}" class="hex-string">{{ macros::render_hex(value=config.extra.pubkey.fingerprint | slice(start=-4)) }}</a></dd>
  </dl>
</p>

<p class="social">
  {% for link, icon in config.extra.social_links %}
  <a href="{{ config.extra.links[link] | safe}}"><i class="fa {{ icon }}"></i></a>
{% endfor %}
</p>

<p>I'm available to work on software, IT, or photography projects. Please contact me for more information or to chat about the details.</p>

<p>Any comments or suggestions are appreciated. It's not always possible to respond to all of them, so please don't take it personally if it takes me longer to respond or I don't reply at all.</p>
{% endblock sidebar %}
