<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
    <link rel="self" href="{{ resource.url }}"type="application/atom+xml"/>
    <link rel="alternate" href="http://oyam.ca/" type="text/html"/>
    <updated>{{ now|date('c') }}</updated>
    <id>tag:oyam.ca,2010:/</id>
    <author>
      <name>{{ author.name }} Mayo Jordanov</name>
      <url>http://oyam.ca/</url>
    </author>

    {% for res in collections.articles %}
    <entry>
      <id>tag:oyam.ca,2010:{{ res.path }}</id>
      <author><name>{% if res.author -%}{{ res.author }}{%- else %}{{ author.name }}{%- endif %}</name></author>
      <updated>{{ res.created|date('c') }}</updated>
      <published>{{ res.created|date('c') }}</published>

      <title type="html">{% if res.type == 'quote' and res.contents == "" -%}&ldquo;{%- endif %}{{ res.title }}{% if res.type == 'quote' and res.contents == "" -%}&rdquo; &mdash; {{ res.author }}{%- endif %}</title>
      <link rel="alternate" href="{% if res.type == 'link' -%}{{ res.href }}{%- else %}{{ res.path }}{%- endif %}" type="text/html"/>

      <content type="html">
        {{ res.contents }}
        {% if res.type == "quote" and res.contents != "" -%} &mdash; {{ res.author }}{%- endif %}
      </content>
    </entry>
    {% endfor %}
</feed>
