{%- import "macros.html" as macros -%}
<!DOCTYPE html>
{%- block template_vars -%}
  {# `node` is defined here as base, and used throughout all templates #}
  {% set node = page | default(value=section | default(value="")) %}

  {# setting page_title here makes it globally accessible and possible to override throughout template inheritance #}
  {% set page_title = "" %}
  {% if node and node != "" %}
    {% set page_title = macros::get_page_title(page=node) %}
  {% endif %}

  {# `slides` used for slideshow on main page as well as building navigation menu #}
  {% set slides = load_data(path="metadata/slides.json") %}

  {% set page_id = page_id | default(value=node.extra.page_id | default(value="")) %}
  {% set container_width = container_width | default(value=macros::node_container_width(node=node)) %}
{% endblock template_vars %}
<html class="no-js" lang="en">
  <head>
    <title>{% block title %}{{ page_title }} | {% endblock %}Mayo Jordanov</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="author" content="{{ config.extra.author.name }} {{ config.extra.author.email }}">

    {% if config.extra.site.description -%}
    <meta name="description" content="{{config.extra.site.description}}">
    {% endif -%}
    {% if config.extra.site.keywords -%}
    <meta name="keywords" content="{{config.extra.site.keywords}}">
    {% endif -%}

    <meta property="og:title" content="{{ page_title }}">
    {% if page.description -%}
      {% set og_description = page.description -%}
    {% elif page.content -%}
      {% set og_description = macros::excerpt(content=page.content) -%}
    {% else -%}
      {% set og_description = config.extra.site.description -%}
    {% endif -%}
    <meta property="og:description" content="{{ og_description | striptags }}">

    {% block css %}
    <link rel="stylesheet" href="/media/css/default.css"/>
    <!-- <link rel="stylesheet" href="/media/css/handheld.css" media="only screen"/> -->
    {% endblock %}


    <link rel="alternate" type="application/atom+xml" href="/feed/atom.xml"/>

    {% for link, _ in config.extra.rel_me -%}
    <link rel="me" href="{{ config.extra.links[link] | safe }}"/>
    {% endfor -%}
    <link rel="gpgkey" href="{{ config.extra.links.pubkey | safe }}"/>

    <link rel="micropub" href="https://api.oyam.ca/micropub">
    <link rel="microsub" href="https://api.oyam.ca/microsub">
    <link rel="webmention" href="https://api.oyam.ca/webmention"/>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>

    <link rel="icon" href="/favicon.svg"/>
    <link rel="mask-icon" href="/mask-icon.svg" color="#000000">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

    {%- block js -%}
    {%- endblock %}
  </head>
  <body {% if page_id -%}id="{{ page_id }}"{%- endif %}>
  {% block body_container %}
    {% block header_wrapper %}
    {# header  id="mainhead" used to menu toggle button from default.scss.hugo #}
    <header  class="content-container {{ container_width }}" id="mainhead">
    {% block header_content %}
      {% if not nav_id %}
        {% set nav_id = "sitenav" %}
      {% endif %}
      {% include '_sitenav.html' %}
    {% endblock header_content %}
    </header>
    {% endblock %}
  
      <main>
    {% block main_content %}
        <div class="content-container {{ container_width }}">
          {% block content %}{% endblock %}
        </div>
    {% endblock %}
    </main>
  
    {% block footer_wrapper %}
    <footer class="content-container {{ container_width }}">
      {% block footer %}
  
        {% block footer_nav %}
        <nav id="bottom-{{nav_id}}" class="menu bottom" role="menubar" aria-orientation="horizontal">
          {% include "_nav_main.html" %}
          {% include "_nav_extra.html" %}
        </nav>
        {% endblock %}
  
        {% block footer_content %}
          {% for link, icon in config.extra.social_links %}
          <a class="footer-item" href="{{ config.extra.links[link] }}"><i class="fa {{ icon }}"></i></a>
          {% endfor %}
          <a class="footer-item" href="{{ config.extra.links.rss }}"><i class="fa fa-rss-square" title="RSS"></i><span class="sr-only">RSS</span></a>
          {% set h_card = "" %}
          {% if node.extra.page_id | default(value="") != 'about' %}
            {% set h_card = "h-card p-name p-url" %}
          {% endif %}
          <span class="copyright footer-item">Copyright &copy;{{ now() | date(format='%Y') }} <a class="{{h_card}}" href="http://oyam.ca/about">{{ config.extra.author.name }}</a></span>
        {% endblock %}
  
      {% endblock %}
    </footer>
    {% endblock footer_wrapper %}
  {% endblock body_container %}
  </body>
</html>
