{% extends "base.html" %}

{% block body_container %}
  {% block header_wrapper %}
  <header class="grid-container {{ page.grid_container_class }}">
  {% block header_content %}
    {% include '_sitenav.html' %}
  {% endblock header_content %}
  </header>
  {% endblock %}

  <main>
  {% block main_content %}
    <div class="grid-container {{ page.grid_container_class }}">
      <div class="grid-100">
        {% block content %}{% endblock %}
      </div>
    </div>
  {% endblock %}
  </main>

  {% block footer_wrapper %}
  <footer class="grid-container {{ page.grid_container_class }}">
    {% block footer %}

      {% block footer_nav %}
      {% endblock %}

    <div class="grid-100 h-card">
      <img class="u-photo" src="/media/images/mex2-bw.jpg" alt="" />
      <a class="p-name u-url" href="http://oyam.ca">Mayo Jordanov</a>

      <div class="p-adr h-adr">
        <span class="p-locality">Vancouver</span>
        <span class="p-region">BC</span>
        <span class="p-country-name">Canada</span>
      </div>

      <span class="p-note">Creative solutions. Problem solver, software developer, photographer, adventurer.</span>
    </div>

    <div class="grid-100">
      {% block footer_content %}

        {% for link, icon in site.social_links.iteritems() %}
        <a href="{{ site.links[link] }}"><i class="fa {{ icon }}"></i></a>
        {% endfor %}
        <a href="{{ site.links.rss }}"><i class="fa fa-rss-square"></i></a>
        <span class="copyright">Copyright &copy;{{ site.now.strftime('%Y') }} {{ site.author.name }}</span>
      {% endblock %}
    </div>

    {% endblock %}
  </footer>
  {% endblock %}

{% endblock %}
