{% extends "grid.html" %}

{# Remove title, so only name shows #}
{% block title %}{% endblock %}

{% block css %}
  {{ super() }}
<link rel="stylesheet" type="text/css" href="/media/css/index.css" />
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="/media/js/microevent.js"></script>
  <script src="/media/js/slideshow.js"></script>
  <script src="/media/js/index.js"></script>
{% endblock %}


{% block main_content %}
  {% set grid_container_class="normal" %}
  {% from "macros.j2" import display_slideshow %}
  {{ display_slideshow(site.slides) }}
  {% set nav_id = "sitenav2" %}
  <div class="chameleon"><div class="scrolldown bottomright"><a href="#{{nav_id}}"><i class="fa fa-angle-down"></i></a></div></div>

  <div class="grid-container {{ grid_container_class }}">
    <div class="grid-100">
      {% set disable_chameleon = true %}
      {% include '_sitenav.html' %}
    </div>
  </div>

  <div class="grid-container {{ grid_container_class }}">

    <div class="grid-50">
      <h2>Recent posts</h2>

      <table class="article-list">
      {% set list_limit=5 %}
      {% set ns = namespace(count=0) %}
      {% for post in site.tags.articles %}
        {% if ns.count < list_limit %}
          {% if post.title %}
        <tr>
          <td class="time"><time datetime="{{ post.created.strftime('%Y-%m-%dT%H:%M:%S') }}">{{ post.created.strftime('%b %d, %Y') }}</time></td>
          {% set post_title = post.title %}
          {% if post.type == "quote" and post.contents %}
            {% set post_title = post.contents|striptags|truncate(280) %}
          {% endif %}
          <td class="{{ post.type }}"><a href="{{ "/" + post.path }}">{{ post_title|safe }}</a></td>
        </tr>
            {% set ns.count = ns.count + 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}

        <tr>
          <td class="archive"><i class="fa fa-archive"></i></td>
          <td>More in <a class="small" href="/blog/archive.html">archive</a></td>
        </tr>
      </table>

    </div>

    <div class="grid-50">
      <h2>Thoughts</h2>

      <table class="article-list">
      {% set list_limit=5 %}
      {% set ns = namespace(count=0) %}
      {% for post in site.tags.microblog %}
        {% if ns.count < list_limit %}
        <tr>
          <td class="time"><time datetime="{{ post.created.strftime('%Y-%m-%dT%H:%M:%S') }}">{{ post.created.strftime('%b %d, %Y') }}</time></td>
          <td class="{{ post.type }}"><a href="{{ "/" + post.path }}">{{ post.title|striptags|truncate(280) or post.contents|striptags|truncate(280) or post.type }}</a></td>
        </tr>
          {% set ns.count = ns.count + 1 %}
        {% endif %}
      {% endfor %}

        <tr>
          <td class="archive"><i class="fa fa-archive"></i></td>
          <td>More in <a class="small" href="/blog/archive.html">archive</a></td>
        </tr>
      </table>

    </div>



    <div class="grid-100 bio-blob">
      {% block content %}
        {{ page.contents }}
      {% endblock %}
    </div>



  </div>
{% endblock %}

