{% macro blog_article(site, page, article, article_context) %}
    {% include "blog/_article.html" %}
{% endmacro %}

{% macro display_slideshow(slides) %}
    {% include '_slideshow.html' %}
{% endmacro %}
