{% extends 'page.html' %}

{% block banner %}
<div class="banner" id="banner">
  <picture>
    <source srcset="https://static.oyam.ca/where/where@2x.png 2x, https://static.oyam.ca/where/where.png 1x" />
    <img src="https://static.oyam.ca/where/where.png" alt="" />
  </picture>

  <div class="attribution">
    <span class="text">&copy; <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> &copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <em><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></em></span>
    <img class="mapbox-logo" height="20" src="/media/images/external/mapbox.svg"/>
  </div>

  <div class="head-title content-container normal dark-bg">
    <div class="title">
        <h1 style="color: white">{{ node.title }}</h1>
    </div>
  </div>
</div>
{% endblock banner %}

{% block page_content %}
  {{ super() }}

  <em>Last updated on <time title="Last updated on" class="" datetime="{{ node.extra.updated | date(format='%Y-%m-%dT%H:%M:%SZ') }}">{{ node.extra.updated | date(format='%B %d, %Y') }}</time></em>
{% endblock page_content %}


