{% extends 'page.html' %}
{% block banner %}
<div class="banner" id="banner">
  <picture>
    <source srcset="https://static.oyam.ca/where/where@2x.png 2x, https://static.oyam.ca/where/where.png 1x" />
    <img src="https://static.oyam.ca/where/where.png" alt="Bar" />
  </picture>

  <div class="head-title grid-container normal dark-bg">
    <div class="title grid-100">
        <h1 style="color: white">{{ page.title }}</h1>
    </div>
  </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="attribution">
  © <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <em><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></em>
</div>
{% endblock %}

