{% extends 'base.html' %}
{% block main_content %}

{% block banner %}
{% include '_banner.html' %}
{% endblock banner %}

<div class="content-container {{ node.extra.grid_container_class | default(value="") }}">
  <div class="flex-item flex-item-100">
    {% block page_content %}
    {{ node.content | safe }}
    {% endblock page_content %}
  </div>

  {% if node.extra.show_related %}
    {% set_global related_pages = [] %}
    {% for taxon in node.extra.show_related %}
      {% set taxon_term = get_taxonomy_term(kind=taxon.kind, term=taxon.term) %}
      {% set_global related_pages = related_pages | concat(with=taxon_term.pages) %}
    {% endfor %}

    {% if related_pages | length > 0 %}
  <div class="flex-item flex-item-100 related-links">
    <h2>Related</h2>
    {{ macros::collection_list(collection=related_pages | sort(attribute="date")) }}
  </div>
    {% endif %}
  {% endif %}
{% endblock main_content %}
