---
extends: grid.html
title: Landscape Photography
page_id: gallery-page
---
{% block js %}
  {% parent %}
  <script src="/media/js/microevent.js"></script>
  <script src="/media/js/slideshow.js"></script>
  <script>
var s;

document.addEventListener('DOMContentLoaded', function() {

  s = new Slideshow("#gallery-page .slideshow .slide");
  se = new SlideshowEvents(s);

  se.bindKey(se.KEY_LEFT, se.ACTION_PREV);
  se.bindKey(se.KEY_RIGHT, se.ACTION_NEXT);

  se.bindElement('#gallery-page .slideshow .controls .previous', se.ACTION_PREV);
  se.bindElement('#gallery-page .slideshow .controls .next', se.ACTION_NEXT);

  se.bindEvent(se.EVENT_HASHCHANGE, se.ACTION_HASHCHANGE);

  se.bindTouch("#gallery-page .slideshow");

  description = document.querySelector("#gallery-page .gallery .slide-caption");
  var callback = function(slide) {
    slideDesc = slide.querySelector(".caption .description");
    description.textContent = slideDesc.textContent;
  }

  s.bind('advance', callback);

  s.showSlide(se.selectedSlide());

}, false);
  </script>
{% endblock %}

{% block main_content %}
<div class="grid-container gallery">
  <div class="grid-100 imageset">
    {% include '_slideshow.html' with { 'slides': slides } only %}
  </div>

  <div class="grid-100 meta">
    <h1>Lorem Ipsum Dolor</h1>
  </div>

  <div class="grid-70 meta">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="grid-30 sidebar">
    <p class="slide-caption"></p>
  </div>
</div>
{% endblock %}
